<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:supportsRtl="true">
        <activity
            android:name=".PlayerActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|smallestScreenSize|uiMode"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.CrownPlayer" />
    </application>
</manifest>
